@import '../../styles/mixins';

.settings-page {
  margin-top: 20px;

  &__cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding-bottom: 20px;

    @include moreThanTablet() {
      grid-template-columns: 1fr 1fr;
    }

    @include moreThanDesktop() {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
