.on-site {
  margin-top: 40px;
  .on-site__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
    .on-site__filters-search-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    // Input Styles
    .on-site__filters-search {
      padding: 20px;
      border-radius: 12px;
      border: 1px solid #e8e8e8;
      min-width: 398px;
      .ant-input {
        &::placeholder {
          font: normal normal normal 16px/21px Roboto;
          letter-spacing: 0px;
          color: #8c8c8c;
        }
      }
    }

    // Select Styles
    .on-site__filters-select {
      height: 60px;
      min-width: 260px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      .ant-select-selector {
        border-radius: 12px;
      }
      .ant-select-selection-item {
        font-size: 16px;
        letter-spacing: 0px;
        color: #8c8c8c;
      }
    }

    .on-site__filters-buttons {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
