.custom-timezone-select {
  position: relative;
  &::after {
    position: absolute;
    content: url('../../assets/arrow.svg');
    top: 26%;
    right: 26px;
  }
  select {
    height: 64px;
    width: 100%;
    background: #fafafa;
    border-radius: 12px;
    border: 1px solid #fafafa;
    padding-left: 24px;
    padding-right: 48px;
    margin-bottom: 24px;
    transition: all 0.2s ease-in;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    &::placeholder {
      color: #8c8c8c;
      font-size: 16px;
    }
    &:focus-visible {
      border: 1px solid #fafafa;
      outline: none;
    }
  }

  &__label {
    text-transform: uppercase;
    font-size: 14px;
    clor: #8c8c8c;
    margin-bottom: 5px;
  }
}
