.custom-logo-uploader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 27px;

  &__output {
    width: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    height: 64px;
    border-radius: 16px;
    img {
      max-width: 37px;
    }
  }

  &__el {
    height: 64px;
  }

  &__label {
    text-transform: uppercase;
    font-size: 14px;
    clor: #8c8c8c;
    margin-bottom: 5px;
  }
}
